<div class="card shadow border-0 w-75 ">
    <div class="card-header bg alert-secondary bg-gradientb">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Login Using Google</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <form method="post">
            <div class="border p-2 mt-2">
                <div class="col-10">
                    <label>Username</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="col-10">
                    <label>Password</label>
                    <input type="text" class="form-control" />
                </div>
                <br />
                <div class="row text-end">
                    <div class="col-2 text-end">
                        <button type="submit" class="btn btn-primary form-control">Login</button>
                    </div>
                    <div class="col-5 text-end">
                        <a asp-controller="Login" asp-action="Login" class="btn btn-primary form-control">Sign-In with Google</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>